<!DOCTYPE html>
{% extends "my_app/base.html" %}
    {% block body_block %}
    <h1>Our Services</h1>
    <h3>Bookkeeping</h3>
    <p>We provide comprehensive bookkeeping services tailored to your 
    business needs. From managing accounts payable and receivable 
    to monthly reconciliations, we ensure your financial records 
    are always organized and up-to-date.</p>

    <h3>Payroll with QuickBooks Online</h3>
    <p>With QuickBooks Online, we offer seamless payroll services 
    that ensure your employees are paid on time, every time. 
    We handle all aspects of payroll, from calculations to tax filings, 
    so you can focus on leading your team.</p>

    <h3>Tax Preparation</h3>
    <p>Tax season can be stressful, but with Plemmons Bookkeeping Services
    on your side, you can rest easy. We help prepare your business’s 
    taxes accurately and on time, ensuring compliance and maximizing 
    your potential deductions.</p>
    
    {% endblock %}
</html>